 .music-button {
    position: fixed;
    bottom: 20px; /* Ajusta la distancia desde la parte inferior */
    right: 00px; /* Ajusta la distancia desde la derecha */
    z-index: 9999; /* Asegura que esté por encima del contenido */
}


.music-button button {
    font-size: 24px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #f8899a; /* Color de fondo blanco */
    color: #ffffff; /* Color del icono blanco */
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.music-button button:hover {
    transform: scale(1.1); /* Cambia el tamaño al pasar el mouse sobre él */
}
